/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: Goudy Old Style;
    font-style: normal;
    font-weight: 400;
    src: local('Goudy Old Style'), url('https://fonts.cdnfonts.com/s/14850/GOUDOS.woff') format('woff');} 

@font-face {
  font-family: Goudy Text MT; 
  src: url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.eot"); 
  src: url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.woff") format("woff"), url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1c869c3808c2670f9036650cf2a755ee.svg#Goudy Text MT") format("svg"); }

@font-face {
    font-family: Oath Symbols;
    src: url("https://cdn.glitch.com/6c9053eb-447f-4f98-93ff-1eaa0577aeb2%2FOath%20Symbols%20(Public).otf?v=1632608571045") format('OpenType');
}

.oath-symbol {
  font-family: Oath Symbols;
  visibility: hidden;
}

/* Page structure */
body {
  font-family: Goudy Old style;
  background-color: ivory;
  padding-bottom: 100px;
  height: 100%;
  font-size: 20px

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.simulate-content {
    width: 500px
}

/* Page titles */
.simulate-page h1 {
  color: #8e58b1;
  font-family: "Goudy Text MT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.slider-container .rc-slider {
  width: calc(100% - 2rem);
  display: inline-block;
}

.slider-container .slider-value {
  display: inline;
  padding-left: 5px
}

.assumptions {
    background-color: beige;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}
